<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home page</title>
  </head>
  <body>
    <header>
      <h1>Home page</h1>
    </header>
    <main>
      <div class="outter">
        <div class="inner">
          <p>
            This website is created for
            the purpose of learning authentication.<br>
            It uses sqlalchemy, postgresql database
            and werkzeug.security for implementation
            of the webpage.
          </p><br><br>
          <p>Click here to <a href="/login">login</a></p>
          <p>Click here to <a href="/register">register</a></p>
        </div>
      </div>
    </main>
    <footer>
      <p>Made by Rahul Rawat Gujjar</p>
    </footer>
    <script src='/static/script.js'></script>
  </body>
</html>